table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.logout {
  margin-top: 23px;
  margin-right: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
